{% block styles %}
<style>
    .badge {
        justify-content: left;
    }
</style> 
{% endblock %}

{% block app_content %}
<tr class="text-center" id="ch-{{ channel.id }}">
    {% set status = channel.status() %}
    {% set progress = channel.progress() %}
    <th scope="row" class="align-middle clickable" data-toggle="collapse" data-target="[id^=ch-{{ channel.id }}-tp-">
        <i class="bi bi-chevron-down"></i>
        <i class="bi bi-chevron-up d-none"></i>
        {{ channel.id }}
    </th>
    <td class="align-middle">{{ channel.name }}</td>
    <td colspan="2" class="align-middle">
        <div class="row">
            <div class='col-4'>Progress: {{ round(progress['passed'] + progress['post'], 0) }}% ({{ status['passed'] }}/{{ channel.num_test_points() }})</div>
            <div class="col-8">
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: {{ progress['passed'] }}%"></div>
                    <div class="progress-bar bg-warning" role="progressbar" style="width: {{ progress['post'] }}%"></div>
                    <div class="progress-bar bg-danger" role="progressbar" style="width: {{ progress['failed'] }}%"></div>
                </div>
            </div>
        </div>
    </td>
    <td class="align-middle">
        <div class="row">            
            <div class="col-12 align-middle d-flex align-items-start">
                {% for test_equipment_type in channel.required_test_equipment() %}
                <div class="btn-group" role="group" data-toggle="buttons" aria-label="Button group with nested dropdown">
                    <button type="button" class="btn btn-outline-info">{{ test_equipment_type.name }}</button>
                    <div class="btn-group" role="group">
                        {% set equip_id = "equip-{}".format(test_equipment_type.id) %}
                        <button id="{{ equip_id }}" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"></button>
                        <div class="dropdown-menu">
                        <a class="dropdown-item active" href="#">MDS0504: Due 25-Oct-2021</a>
                        <a class="dropdown-item" href="#">MDS0265: Due 30-Nov-2021</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>            
    </td>
    <td class="align-middle completion">{{ channel.completion() }}</td>
    <td class="align-middle last-updated">{{ moment(channel.last_updated).format("hh:mm A, DD-MMM-YYYY") }}</td>    
    <td class="align-middle">
        <div class="btn-group-toggle" role="group" data-toggle="buttons">Signed:
            {% set owner = "signed-owner-{}".format(channel.id) %}
            {% set client = "signed-client-{}".format(channel.id) %}
            {% if channel.signed_owner == 'Yes' %}      
            <label class="btn btn-outline-success active" for="signed-owner-{{ channel.id }}" data-ch-id="{{ channel.id }}">MDS {{ channel_form.signed_owner(id=owner) }}</label>            
            {% elif channel.signed_owner == 'No' %}
            <label class="btn btn-outline-success" for="signed-owner-{{ channel.id }}" data-ch-id="{{ channel.id }}">MDS {{ channel_form.signed_owner(id=owner) }}</label>            
            {% endif %}

            {% if channel.signed_customer == 'Yes' %}
            <label class="btn btn-outline-info active" for="signed-client-{{ channel.id }}" data-ch-id="{{ channel.id }}">Client {{ channel_form.signed_client(id=client) }}</label>
            {% elif channel.signed_customer == 'No' %}
            <label class="btn btn-outline-info" for="signed-client-{{ channel.id }}" data-ch-id="{{ channel.id }}">Client {{ channel_form.signed_client(id=client) }}</label>
            {% endif %}
        </div>
    </td>
</tr>
{% endblock %}