{% block styles %}
<style>
    div[class="progress-bar"] {
        width:
    }
</style> 
{% endblock %}

{% block app_content %}
<tr class="text-center">
    <td class="align-middle">{{ job.customer_name() }}</td>
    <td class="align-middle">{{ job.project_number() }}</td>
    <td class="align-middle">{{ job.project_name() }}</td>
    <td class="align-middle">{{ job.phase }}</td>
    <td class="align-middle">{{ job.job_type }}</td>
    <td class="align-middle">
        <div class="row">
            <div class="col-md-10">
                <div class="progress">
                    {% set progress = job.progress() %}
                    {% set status = job.status() %}
                    <div class="progress-bar bg-success" role="progressbar" width="{{ progress['passed'] }}%"></div>
                    <div class="progress-bar bg-warning" role="progressbar" width="{{ progress['post'] }}%"></div>
                    <div class="progress-bar bg-danger" role="progressbar" width="{{ progress['failed'] }}%"></div>
                </div>
            </div>
            <div class="col-md-2">{{ status['passed'] + status['post'] }}/{{ job.num_channels() }}</div>
        </div>
    </td>
    <td class="align-middle">{{ moment(job.last_updated).format("hh:mm A, DD-MMM-YYYY") }}</td>
</tr>
{% endblock %}
  