{% block styles %}
<style>
    
</style> 
{% endblock %}

{% block app_content %}
<tr class="text-center" id="job-{{ job.id }}">
    {% set progress = job.progress() %}
    {% set status = job.status() %}
    <td class="align-middle">{{ job.customer_name() }}</td>
    <td class="align-middle">{{ job.project_number() }}</td>
    <td class="align-middle">{{ job.project_name() }}</td>
    <td class="align-middle">{{ job.phase }}</td>
    <td class="align-middle">{{ job.job_type }}</td>
    <td class="align-middle">
        <div class="row">
            <div class="col-12">
                <div class="progress">   
                    <div class="progress-bar bg-success" role="progressbar" style="width: {{ progress['passed'] }}%"></div>
                    <div class="progress-bar bg-danger" role="progressbar" style="width: {{ progress['failed'] }}%"></div>
                </div>
            </div>
        </div>
    </td>
    <td class="align-middle">{{ status['passed'] }}/{{ job.num_channels() }} Channels Complete</td>
    <td class="align-middle">{{ moment(job.last_updated).format("hh:mm A, DD-MMM-YYYY") }}</td>
    <td class="align-middle">
        <button type="button" class="btn btn-primary">
            <a style="color:#FFFFFF;" href="{{ url_for('main.job', job_id=job.id) }}">View</a>
        </button>
    </td>
</tr>
{% endblock %}
  