{% block styles %}
<style>
    
</style> 
{% endblock %}

{% block app_content %}
<tr class="text-center">
    {% set progress = job.progress() %}
    {% set status = job.status() %}
    <td class="align-middle">{{ job.customer_name() }}</td>
    <td class="align-middle">{{ job.project_number() }}</td>
    <td class="align-middle">{{ job.project_name() }}</td>
    <td class="align-middle">{{ job.phase }}</td>
    <td class="align-middle">{{ job.job_type }}</td>
    <td class="align-middle">
        <div class="row">
            <div class="col-12">
                <div class="progress">                    
                    <div class="progress-bar bg-success" role="progressbar" style="width: {{ progress['passed'] }}%"></div>
                    <div class="progress-bar bg-warning" role="progressbar" style="width: {{ progress['post'] }}%"></div>
                    <div class="progress-bar bg-danger" role="progressbar" style="width: {{ progress['failed'] }}%"></div>
                </div>
            </div>
        </div>
    </td>
    <td class="align-middle">{{ status['passed'] + status['post'] }}/{{ job.num_channels() }}</td>
    <td class="align-middle">{{ moment(job.last_updated).format("hh:mm A, DD-MMM-YYYY") }}</td>
</tr>
{% endblock %}
  