<style>
    input[type="text"]::placeholder {
        text-align: center;        
    }
    div[class="input-group"] {
        flex-wrap: nowrap;
    }
</style>

<tr class="text-center">
    <th scope="row" class="align-middle">{{ testpoint_item.id }}</th>
    <td class="align-middle">{{ testpoint_item.name }}</td>
    <td class="align-middle">
        <div class="row">
            <div class="col-md-12">
                <div class="input-group">
                    {{ channel.input_val() }}
                    <span class="input-group-text">{{ units_dict[testpoint_item.input_eu] }}</span>
                </div>
            </div>
        </div>
    </td>
    <td class="align-middle">
        <div class="row">
            <div class="col-md-12">
                <div class="input-group">                    
                    <div class="input-group">
                        <span class="input-group-text">{{ testpoint_item.low_limit }}</span>
                        {{ channel.meas_val() }}
                        <span class="input-group-text">{{ testpoint_item.high_limit }}</span>
                        <span class="input-group-text">{{ units_dict[testpoint_item.meas_eu] }}</span>                     
                    </div>                    
                    <button type="button" class="btn btn-info" formaction="{{ url_for('main.save_testpoint') }}">Save</button>
                </div>
            </div>
        </div>
    </td>
    <td class="align-middle">
        <div class="row">
            <div class="col-md-12">
                <div class="input-group align-middle">
                    <input type="text" class="form-control text-center" placeholder="0.000" aria-label="Measured Error" readonly="">
                    <span class="input-group-text">{{ units_dict[testpoint_item.meas_eu] }}</span>
                </div>
            </div>
        </div>
    </td>
    <td class="align-middle">{{ testpoint_item.date }}</td>
    <td class="align-middle">
        {{ channel.notes() }}
    </td>
</tr>