{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div>
        <h1>Add a New Channel</h1>
        <form action="" method="post" name="addChannelForm">
            {{ addChannelForm.hidden_tag() }}
            <div class="row g-2">
                <div class="col-md-9">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingName" placeholder="Channel Name">
                        <label for="floatingName">Channel Name</label>                        
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mb-3">                        
                        <select class="form-select" aria-label="Engineering Unit Selection">
                            <option selected>Units</option>
                            <option value="1">degC</option>
                            <option value="2">Ohms</option>
                            <option value="3">Hz</option>
                            <option value="4">V</option>
                            <option value="5">mA</option>
                        </select>
                    </div>
                </div>               
            </div>
            <div class="row g-2">
                <div class="col-md-2">
                    <div class="mb-3">
                        <label for="channelRange" class="visually-hidden">Channel Range</label>
                        <input type="text" readonly class="form-control-plaintext" id="channelRange" value="Channel Range">
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="channel-min-range">Minimum</span>
                        <input type="text" class="form-control" placeholder="Channel Minimum Range" aria-label="Channel Minimum Range">                        
                        <span class="input-group-text" id="channel-max-range">Maximum</span>
                        <input type="text" class="form-control" placeholder="Channel Maximum Range" aria-label="Channel Maximum Range">                        
                    </div>
                </div>
            </div>
        </form>
    </div>
    


{% endblock %}