{% extends "base.html" %}
{% import 'bootstrap/form.html' as wtf %}

{% block app_content %}
    <div>
        <h1>Channel List:</h1>
        <form action="" method="POST" name="channel_group_form">
            {{ channel_group_form.hidden_tag() }}
            <table class="table table-hover table-bordered align-middle">
                <thead>
                    <tr class="table-primary text-center align-middle">
                        <th class="align-middle">Item #</th>
                        <th class="align-middle">Channel Name</th>
                        <th class="align-middle">Input</th>
                        <th class="align-middle">Min/Measured/Max</th>
                        <th class="align-middle">Error</th>
                        <th class="align-middle">Date Updated</th>
                        <th class="align-middle">Notes</th>
                    </tr>
                </thead>
                <tbody>
                    {# Loop through each channel and channel_form #}
                    {% for channel, channel_form in zip(channel_list, channel_group_form.channels) %}
                        {# Loop through each channel's testpoint and each channel_form's testpoint form #}
                        {% for testpoint, testpoint_form in zip(channel.all_test_points(), channel_form.testpoints) %}
                            {% include '_testpoint.html' %}
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </form>
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}

    <!-- JQuery to handle the form submission -->
    <script>
        $(document).ready(function() {

            $('.input-val').change(function(element) {
                console.log(`${element.target.id} with testpoint_id of ${element.target.dataset.testpointId} has a new value of ${element.target.value}`);
                let input_val_elem = element.target;
                $.ajax({
                    type: 'POST',
                    url: '/update_testpoint',
                    data: {input_val: input_val_elem.value, id: input_val_elem.dataset.testpointId},
                    success: function(response) {
                        console.log(response['message']);
                    },
                    error: function(error) {
                        console.log(`Error transmitting data: ${error}`);
                    }
                });
            });

        });
    </script>

{% endblock %}