{% extends "base.html" %}
{% import 'bootstrap/form.html' as wtf %}

{% block app_content %}
    <div>
        <h1>Channel List:</h1>
        <form action="" method="POST" name="channel_group_form">
            {{ channel_list_form.hidden_tag() }}
            <table class="table table-hover table-bordered align-middle">
                <thead>
                    <tr class="table-primary text-center align-middle">
                        <th scope="col" class="align-middle">Item #</th>
                        <th scope="col" class="align-middle">Channel Name</th>
                        <th scope="col" class="align-middle">Input</th>
                        <th scope="col" class="align-middle">Min/Measured/Max</th>
                        <th scope="col" class="align-middle">Error</th>
                        <th scope="col" class="align-middle">Pass/Fail</th>
                        <th scope="col" class="align-middle">Date Updated</th>
                        <th scope="col" class="align-middle">Notes</th>
                    </tr>
                </thead>
                <tbody>
                    {# Loop through each channel and channel_form #}
                    {% for channel, channel_form in zip(channel_list, channel_list_form.channels) %}
                        {% include '_channel.html' %}
                        {# Loop through each channel's testpoint and each channel_form's testpoint form #}
                        {% for testpoint, testpoint_form in zip(channel.all_test_points(), channel_form.testpoints) %}
                            {% include '_testpoint.html' %}
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}

    <script>
        $(document).ready(function() {
            updateAllRowColors();

            $('.input-val').change(function(element) {

                let input_val_elem = element.target;
                let data = {id: input_val_elem.dataset.testpointId, input_val: input_val_elem.value};
                updateTestPoint(data); 
            });

            $('.meas-val').change(function(element) {

                // Unpack the data
                let meas_val_elem = element.target;                
                let id = meas_val_elem.dataset.testpointId;
                let meas_val_nom = parseFloat(meas_val_elem.placeholder);
                let meas_val = parseFloat(meas_val_elem.value);  
                let tolerance = parseFloat(meas_val_elem.dataset.tolerance);              

                // Calculate the error and fiend the field to update                
                let error = meas_val - meas_val_nom;
                let errorRow = $(`#${this.id}`).parents('tr');
                let errorElem = errorRow.find('.error');
                let pf;      

                // Update the error value in the element
                if(Number.isNaN(meas_val)) {
                    errorElem.val('');
                    errorRow.removeClass('table-success table-danger table-warning');
                    pf = 'Untested';
                } else {
                    // Round the error
                    errorElem.val(error.toFixed(3));

                    // Clear the existing formatting
                    errorRow.removeClass('table-success table-danger table-warning');

                    // Assign the new formatting based on a pass/fail/post result
                    let absError = Math.abs(error);
                    if (absError < tolerance) {
                        errorRow.addClass('table-success');
                        pf = "Pass";
                    } else if (absError > tolerance) {
                        errorRow.addClass('table-danger');
                        pf = "Fail";
                    } else {
                        errorRow.addClass('table-warning');
                        pf = "Post";
                    }        
                }

                // Sends the data through AJAX to be processed
                let data = {id: id, meas_val: meas_val, error: error, pf: pf};
                updateTestPoint(data); 
            });

            $('.notes').change(function(element) {

                let notes_elem = element.target;
                let date = updateDate(this.id);
                
                // Sends the data through AJAX to be processed
                let data = {id: notes_elem.dataset.testpointId, notes: notes_elem.value, date: date};
                updateTestPoint(data);             
            });

            function updateAllRowColors() {
                // Adjust the colour of the row based on the pass/fail
                $('.error').each(function(index, element) {    

                    // Get the pass/fail data to process
                    let id = element.attributes['data_testpoint_id'].value;
                    let pf = element.attributes['data_pf'].value;
                    let rowElem = $(this).parents('tr');          
                    
                    // Update the colour of the row depending on the pass/fail
                    if (pf == "Pass") {
                        $(rowElem).addClass('table-success');
                    } else if (pf == "Fail") {
                        $(rowElem).addClass('table-danger');
                    } else if (pf == "Post") {
                        $(rowElem).addClass('table-warning');
                    }  
                });
            }

            function updateTestPoint(data) {
                $.ajax({
                    type: 'POST',
                    url: '/update_testpoint',
                    data: data,
                    success: function(response) {
                        console.log(response['message']);
                    },
                    error: function(error) {
                        console.log(`Error updating testpoint: ${error}`);
                    }
                });
            }
            
            // Update the date when a field is modified
            function updateDate(element) {
                let rowElem = $(`#${element}`).parents('tr');
                let dateElem = rowElem.find('.date');
                let date = new Date();
                let dateString = date.getDateTime();
                dateElem.text(dateString);
                return date.toUTCString();
            }

            // For today's current time in format '10:06 PM'
            Date.prototype.timeNow = function () {
                let hours = formatLeadingZero(this.getHours());
                let hoursAdj = (hours > 12) ? (hours % 12) : hours;
                let minutes = formatLeadingZero(this.getMinutes());
                let ampm = (hours >= 12) ? ' PM' : ' AM';
                return hoursAdj + ":" + minutes + ampm;
            }

            // For todays date in format '24-Apr-2021'
            Date.prototype.today = function () { 
                let day = formatLeadingZero(this.getDate());
                let monthName = formatMonthName(this.getMonth());
                let year = this.getFullYear();
                return day + "-" + monthName + "-" + year;
            }

            // For today's datetime in the format '10:06 PM, 24-Apr-2021'
            Date.prototype.getDateTime = function() {
                return this.timeNow() + ", " + this.today();
            }

            // For the short-form name of the month
            function formatMonthName(month) {
                const monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
                return monthNames[month];
            }

            function formatLeadingZero(dateTime) {
                return ((dateTime < 10) ? "0" : "") + dateTime;
            }

        });
    </script>

{% endblock %}