{% extends "base.html" %}
{% import 'bootstrap/form.html' as wtf %}

{% block app_content %}
    <div>
        <h1>Channel List:</h1>
        <form action="" method="POST" name="channel_group_form">
            {{ channel_list_form.hidden_tag() }}
            <table class="table table-hover table-bordered align-middle">
                <thead>
                    <tr class="table-primary text-center align-middle">
                        <th class="align-middle" width="4%">#</th>
                        <th class="align-middle" width="7.5%">Channel Name</th>
                        <th class="align-middle" width="15%">Input</th>
                        <th class="align-middle" width="15%">Min/Measured/Max</th>
                        <th class="align-middle" width="20%">Error</th>
                        <th class="align-middle" width="7.5%">Pass/Fail</th>
                        <th class="align-middle" width="15%">Last Updated</th>
                        <th class="align-middle" width="15%">Notes</th>
                    </tr>
                </thead>
                <tbody>
                    {# Loop through each channel and channel_form #}
                    {% for channel, channel_form in zip(channel_list, channel_list_form.channels) %}
                        {% include '_channel.html' %}
                        {# Loop through each channel's testpoint and each channel_form's testpoint form #}
                        {% for testpoint, testpoint_form in zip(channel.all_test_points(), channel_form.testpoints) %}
                            {% include '_testpoint.html' %}
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}

    <script>
        $(document).ready(function() {
            updateAllRowColors();

            $('.bi-chevron-down').click(function(element) {
                $(element.target).addClass('d-none')
                $(this).parent('th').find('.bi-chevron-up').removeClass('d-none');
            });

            $('.bi-chevron-up').click(function(element) {
                $(element.target).addClass('d-none')
                $(this).parent('th').find('.bi-chevron-down').removeClass('d-none');
            });

            $('[for^=signed-owner]').click(function(element) {
                let signedOwner = element.target;
                let data = {chId: signedOwner.dataset.chId, date: getNewDate()};
                let check = signedOwner.classList.contains('active');
                // Active class gets added after click event so the check is inverted
                if (!check) {
                    data['signed_owner'] = 'Yes';
                } else {
                    data['signed_owner'] = 'No';
                }
                updateChannel(data);          
            });

            $('[for^=signed-client]').click(function(element) {
                let signedClient = element.target;
                let data = {chId: signedClient.dataset.chId, date: getNewDate()};
                let check = signedClient.classList.contains('active');
                // Active class gets added after click event so the check is inverted
                if (!check) {
                    data['signed_customer'] = 'Yes';
                } else {
                    data['signed_customer'] = 'No';
                }
                updateChannel(data);          
            });

            $('.input-val').change(function(element) {

                let input_val_elem = element.target;
                let data = {tpId: input_val_elem.dataset.tpId, chId:input_val_elem.dataset.chId, input_val: input_val_elem.value, date: getNewDate()};
                updateTestPoint(data); 
            });

            $('.meas-val').change(function(element) {

                // Unpack the data
                let meas_val_elem = element.target;                
                let tpId = meas_val_elem.dataset.tpId;
                let chId = meas_val_elem.dataset.chId;
                let meas_val_nom = parseFloat(meas_val_elem.placeholder);
                let meas_val = parseFloat(meas_val_elem.value);  
                let tolerance = parseFloat(meas_val_elem.dataset.tolerance);              

                // Calculate the error and fiend the field to update                
                let error = meas_val - meas_val_nom;
                let rowElem = $(`#${this.id}`).parents('tr');
                let errorElem = rowElem.find('.error');
                let pfElem = rowElem.find('.pf')
                let pf;   

                // Clear the existing formatting   
                pfElem.removeClass('table-success table-danger table-warning');                

                // Update the error value in the element
                if(Number.isNaN(meas_val)) {
                    errorElem.val('');
                    pfElem.text('Untested');                
                    pf = 'Untested';
                } else {
                    // Round the error
                    errorElem.val(error.toFixed(3));

                    // Assign the new formatting based on a pass/fail/post result
                    let absError = Math.abs(error);
                    if (absError < tolerance) {
                        pfElem.addClass('table-success');
                        pfElem.text('Pass');    
                        pf = "Pass";
                    } else if (absError > tolerance) {
                        pfElem.addClass('table-danger');
                        pfElem.text('Fail');    
                        pf = "Fail";
                    } else {
                        pfElem.addClass('table-warning');
                        pfElem.text('Post');    
                        pf = "Post";
                    }      
                }

                // Sends the data through AJAX to be processed
                let data = {tpId: tpId, chId: chId, meas_val: meas_val, error: error, pf: pf, date: getNewDate()};
                console.log(`Data being sent via ajax = ${data}`);
                $.when(updateTestPoint(data)).done(getUpdatedProgress(data));                
            });

            function getUpdatedProgress(data) {
                $.ajax({
                    type: 'POST',
                    url: '/get_updated_progress',
                    data: data,
                    success: function(response) {
                        // Find the channel element
                        let chElem = $(`#ch-${data['chId']}`);

                        // Update the completion message
                        let compElem = chElem.find('.completion');
                        compText = response['completion'];
                        console.log(`completion = ${compText}`);
                        compElem.text(compText);
                        compElem.removeClass('table-success table-danger table-info');

                        if (compText == 'Pass') {
                            compElem.addClass('table-success');
                        } else if (compText == 'Fail') {
                            compElem.addClass('table-danger');
                        } else if (compText == 'In-Progress') {
                            compElem.addClass('table-info');
                        }
                        
                        // Update the progress bar
                        let progElem = chElem.find('.progress');                        
                        let passElem = chElem.find('.bg-success');
                        let postElem = chElem.find('.bg-warning');
                        let failElem = chElem.find('.bg-danger');
                        passElem[0].attributes['style'].value = `width: ${response['progress']['passed']}%`;
                        postElem[0].attributes['style'].value = `width: ${response['progress']['post']}%`;
                        failElem[0].attributes['style'].value = `width: ${response['progress']['failed']}%`;
                    },
                    error: function(xhr, status, error) {
                        console.log(`Error = ${xhr.responseText}`);
                    }
                });
            }

            $('.notes').change(function(element) {

                let notes_elem = element.target;
                
                // Sends the data through AJAX to be processed
                let data = {tpId: notes_elem.dataset.tpId, chId:notes_elem.dataset.chId, notes: notes_elem.value, date: getNewDate()};
                updateTestPoint(data);             
            });

            function getNewDate() {
                let date = new Date(); 
                return date.toUTCString();
            }

            function updateTestPointDate(chId, tpId, date) {
                $(`#ch-${chId}-tp-${tpId} .date`).text(date);
                console.log(`Updating testpoint's new date as ${date}`);
            }

            function updateChannelDate(chId, date) {
                $(`#ch-${chId} .last-updated`).text(date);
                console.log(`Updating channel's new date as ${date}`);
            }

            function updateAllRowColors() {
                // Update the colour of each testpoint's Pass/Fail
                $('.error').each(function(index, element) {    

                    // Get the pass/fail data to process
                    let pf = element.attributes['data_pf'].value;
                    let pfElem = $(this).parents('tr').find('.pf');    
                    
                    // Update the colour of the row depending on the pass/fail
                    if (pf == "Pass") {
                        $(pfElem).addClass('table-success');
                    } else if (pf == "Fail") {
                        $(pfElem).addClass('table-danger');
                    } else if (pf == "Post") {
                        $(pfElem).addClass('table-warning');
                    }  
                });

                // Update the colour of each channel's Pass/Fail
                $('.completion').each(function(index, element) {  
                    console.log(element);
                    let compElem = element;
                    let comp = compElem.textContent;
                    if (comp == 'Pass') {
                        compElem.classList.add('table-success');
                    } else if (comp == 'Fail') {
                        compElem.classList.add('table-danger');
                    } else if (comp == 'In-Progress') {
                        compElem.classList.add('table-info');
                    }
                });
            }

            function updateTestPoint(data) {
                $.ajax({
                    type: 'POST',
                    url: '/update_testpoint',
                    data: data,
                    success: function(response) {
                        console.log('Updating testpoint');
                        date = new Date(data['date']).getDateTime();
                        updateTestPointDate(data['chId'], data['tpId'], date);
                        updateChannelDate(data['chId'], date);
                    },
                    error: function(error) {
                        console.log(`Error updating testpoint: ${error}`);
                    }
                });
            }

            function updateChannel(data) {
                $.ajax({
                    type: 'POST',
                    url: '/update_channel',
                    data: data,
                    success: function(response) {
                        console.log('Updating channel');
                        date = new Date(data['date']).getDateTime();
                        updateChannelDate(data['chId'], date);
                    },
                    error: function(error) {
                        console.log(`Error updating channel: ${error}`);
                    }
                });
            }

            // For today's current time in format '10:06 PM'
            Date.prototype.timeNow = function () {
                let hoursRaw = this.getHours()
                let hours = (hoursRaw > 12) ? (hoursRaw % 12) : hoursRaw;
                let hoursAdj = formatLeadingZero(hours);
                let minutes = formatLeadingZero(this.getMinutes());
                let ampm = (hoursRaw >= 12) ? ' PM' : ' AM';
                return hoursAdj + ":" + minutes + ampm;
            }

            // For todays date in format '24-Apr-2021'
            Date.prototype.today = function () { 
                let day = formatLeadingZero(this.getDate());
                let monthName = formatMonthName(this.getMonth());
                let year = this.getFullYear();
                return day + "-" + monthName + "-" + year;
            }

            // For today's datetime in the format '10:06 PM, 24-Apr-2021'
            Date.prototype.getDateTime = function() {
                return this.timeNow() + ", " + this.today();
            }

            // For the short-form name of the month
            function formatMonthName(month) {
                const monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
                return monthNames[month];
            }

            function formatLeadingZero(dateTime) {
                return ((dateTime < 10) ? "0" : "") + dateTime;                
            }

        });
    </script>

{% endblock %}