{% extends "base.html" %}

{% block app_content %}
    <div>
        <div class="row">
            <h1>ChannelGroup List:</h1>
            <button type="button" class="btn btn-primary">
                <a style="color:#FFFFFF;" href="{{ url_for('main.new_group', job_id=job.id) }}">New Group</a>
            </button>
        </div>        
        <form>      
            <table class="table table-hover table-bordered align-middle">
                <thead>
                    <tr class="table-primary text-center align-middle">
                        <th class="align-middle" width="10%">Name</th>                        
                        <th class="align-middle" width="5%">Status</th>                        
                        <th class="align-middle" width="15%">Progress</th>
                        <th class="align-middle" width="5%">Completion</th>
                        <th class="align-middle" width="5%">Last Updated</th>
                    </tr>
                </thead>
                <tbody>
                    {% for group in group_list %}
                        {% include '_group.html' %}
                    {% endfor %}
                </tbody>
            </table>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}

    <script>
        $(document).ready(function() {

            

        });
    </script>
{% endblock %}