{% extends "base.html" %}

{% block app_content %}
    <div>
        <h1>Job List:</h1>        
            <table class="table table-hover table-bordered align-middle">
                <thead>
                    <tr class="table-primary text-center align-middle">
                        <th class="align-middle" width="5%">Customer</th>
                        <th class="align-middle" width="5%">Project Number</th>
                        <th class="align-middle" width="7.5%">Project Name</th>
                        <th class="align-middle" width="5%">Phase</th>
                        <th class="align-middle" width="5%">Type</th>
                        <th class="align-middle" width="15%">Progress</th>
                        <th class="align-middle" width="7.5%">Status</th>
                        <th class="align-middle" width="10%">Last Updated</th>
                        <th class="align-middle" width="1%">View</th>
                    </tr>
                </thead>
                <tbody>
                    {% for job in job_list %}
                        {% include '_job.html' %}
                    {% endfor %}
                </tbody>
            </table>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}

    <script>
        $(document).ready(function() {

        });
    </script>
{% endblock %}