{% extends "base.html" %}

{% block app_content %}
    <div>
        <h1>Job List:</h1>        
            <table class="table table-hover table-bordered align-middle">
                <thead>
                    <tr class="table-primary text-center align-middle">
                        <th class="align-middle">Customer</th>
                        <th class="align-middle">Project Number</th>
                        <th class="align-middle">Project Name</th>
                        <th class="align-middle">Phase</th>
                        <th class="align-middle">Type</th>
                        <th class="align-middle">Progress</th>
                        <th class="align-middle">Last Updated</th>
                    </tr>
                </thead>
                <tbody>
                    {% for job in jobs_list %}
                        {% include '_job.html' %}
                    {% endfor %}
                </tbody>
            </table>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}

    <script>
        $(document).ready(function() {

            

        });
    </script>
{% endblock %}