{% extends "base.html" %}

{% block app_content %}
<h2>Add a New Channel</h2>
<br>
<div>
    <form action="" method="POST" name="form">
        {{ form.hidden_tag() }}

        <!-- Channel Definition Section -->
        <!-- Basic Channel Info -->
        <div class="row">            
            <legend>Channel Definition:</legend>  
            <div class="col-md-4">
                <div class="input-group mb-3">
                    <span class="input-group-text">{{ form.name.label.text }}</span>
                    {{ form.name() }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group mb-3">
                    <span class="input-group-text">{{ form.meas_type.label.text }}</span>
                    {{ form.meas_type() }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group mb-3">
                    <span class="input-group-text">{{ form.meas_eu.label.text }}</span>
                    {{ form.meas_eu() }}
                </div>
            </div>
        </div>        
        <!-- Measurement Range Info -->
        <div class="row">            
            <div class="col-md-4">
                <div class="input-group mb-3">
                    <span class="input-group-text">{{ form.meas_range_min.label.text }}</span>
                    {{ form.meas_range_min() }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group mb-3">
                    <span class="input-group-text">{{ form.meas_range_max.label.text }}</span>
                    {{ form.meas_range_max() }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group mb-3">
                    <span class="input-group-text">{{ form.full_scale.label.text }}</span>
                    {{ form.full_scale() }}
                </div>
            </div>
        </div>       
        <!-- Channel Tolerance Info --> 
        <div class="row">            
            <div class="col-md-4">
                <div class="input-group mb-3">
                    <span class="input-group-text">{{ form.tolerance.label.text }}</span>
                    {{ form.tolerance() }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group mb-3">
                    <span class="input-group-text">{{ form.tolerance_type.label.text }}</span>
                    {{ form.tolerance_type() }}
                </div>
            </div>
        </div>
        <!-- Test Point Definition Section -->
        <!-- Test Point Input Range Info -->
        <div class="row">            
            <legend>Test Point Definition:</legend>  
            <div class="col-md-4">
                <div class="input-group mb-3">
                    <span class="input-group-text">{{ form.input_range_min.label.text }}</span>
                    {{ form.input_range_min() }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group mb-3">
                    <span class="input-group-text">{{ form.input_range_max.label.text }}</span>
                    {{ form.input_range_max() }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group mb-3">
                    <span class="input-group-text">{{ form.input_eu.label.text }}</span>
                    {{ form.input_eu() }}
                </div>
            </div>
        </div> 
        <!-- Test Point Value Info -->
        <div class="row">            
            <div class="col-md-4">
                <div class="input-group mb-3">
                    <span class="input-group-text">{{ form.num_test_points.label.text }}</span>
                    {{ form.num_test_points() }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group mb-3">
                    <span class="input-group-text">{{ form.test_point_type.label.text }}</span>
                    {{ form.test_point_type() }}
                </div>
            </div>
        </div> 
        <!-- Custom Test Point Value Definition -->
        <div class="row">
            <legend>Test Point Values:</legend>
        </div>
        <div>
            {{ form.test_point_list() }}
        </div>
        <!-- Form Submission -->
        <div>{{ form.submit() }}</div>    
    </form>    
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}

    <!-- JQuery to add the custom Test Point fields based on user selection -->
    <script>
        $(document).ready(function () {
            $('#test_point_list').attr({style: 'padding-left: 0px;'});

            // Global variables to track the previous values in each relevant field
            let prevNumTestPoints = 0;
            let prevInputEU = "";
            let prevMeasEU = "";
            let prevTestPointType = "Default";
            let testPointListCreated = false;
            let units = '{{ units_dict|tojson }}';
            let units_dict = JSON.parse(units);
            let csrf_token_val = $('#csrf_token').val();
            
            // Generate the TestPointValueForms based on the user selection
            $('#test_point_type').change(function() {

                if (testPointListReady()) {
                    // Create rows for the Test Point list
                    numRows = createTestPointList();
                    console.log(`${numRows} new rows of test points added to the list.`);

                } else if (testPointListCreated) {
                    // Remove all rows from the Test Point list
                    deleteTestPointList();
                }                
                prevTestPointType = $('#test_point_type').val();
            });

            // Checks whether the fields are valid to display the testPointList
            function testPointListReady() {
                validNum = !($('#num_test_points').val() == "");  // Is an integer from the pick list besides the default ""
                validType = $('#test_point_type').val() == "Custom"; 
                return validNum && validType;
            }

            // Creates the list of Test Points
            function createTestPointList() {

                // Defines the values to help create the test points
                let numTestPoints = $('#num_test_points').val();
                let measEUVal = $('#meas_eu').val();
                let inputEUVal = $('#input_eu').val();
                let numRows = 0;

                // Add each form to the form list
                for (tpNum = 1; tpNum <= numTestPoints; tpNum++) {                        
                    $('#test_point_list').append(createTestPointValueForm(tpNum, inputEUVal, measEUVal));
                    numRows++;
                }
                testPointListCreated = true;
                return numRows;
            }

            // Deletes the list of Test Points
            function deleteTestPointList() {
                $('#test_point_list > .row').each(function(index, element) {
                    $(element).remove()
                });
                testPointListCreated = false;
            }

            // Adjusts the TestPointValueForm EUs in case they are changed
            $('#meas_eu').change(function() {

                // Tracker variable for the number of updated rows
                let measEUVal = $('#meas_eu').val();

                // Update the Test Point EUs only if they exist
                if (testPointListCreated) {
                    spanID = 'meas_val_eu';                        
                    updateEUVal($('#meas_eu').attr('id'), measEUVal, spanID);
                }
                prevMeasEU = measEUVal;
            });

            $('#input_eu').change(function() {

                // Update the Test Point EUs only if they exist
                let inputEUVal = $('#input_eu').val();

                if (testPointListCreated) {
                    spanID = 'input_val_eu';                        
                    updateEUVal($('#input_eu').attr('id'), inputEUVal, spanID);
                }
                prevInputEU = inputEUVal;
            });   
            
            // Updates the TestPoints' EU fields with new values as they are changed
            function updateEUVal(euFieldID, euValue, spanID) {

                // Tracker variable for the number of updated rows
                let numRows = 0;

                // Updates the new EU value for all present row items              
                $(`[id^=${spanID}]`).each(function(index, element) {
                    $(element).text(euValue);
                    numRows++;
                });
                console.log(`${numRows} rows of test points EU updated.`);
            }

            // Adjusts the number of TestPoints to reflect a new value
            $('#num_test_points').change(function() {

                // Gets the new quantity of test points
                let numTestPoints = $('#num_test_points').val();

                if (testPointListReady() && testPointListCreated) {
                    updateTestPointNums(numTestPoints);       
                } else if (testPointListReady()) {
                    createTestPointList();
                } else {
                    deleteTestPointList();
                }
                prevNumTestPoints = numTestPoints;        
            });

            // Updates the test point list when the number of points is adjusted
            function updateTestPointNums(numTestPoints) {

                // Tracker variable for the number of updated rows
                let rowsUpdated = 0;
                
                // Calculates how many rows are required to be adjusted                    
                let delta = numTestPoints - prevNumTestPoints;

                if (delta > 0) {
                    console.log(`Adding ${delta} rows after test point #${prevNumTestPoints}.`);
                    for (tpNum = parseInt(prevNumTestPoints) + 1; tpNum <= numTestPoints; tpNum++) {
                        $('#test_point_list').append(
                            createTestPointValueForm(tpNum, prevInputEU, prevMeasEU)
                        );
                        rowsUpdated++;
                    }
                    console.log(`${rowsUpdated} rows of test points added.`);

                } else if (delta < 0) {
                    console.log(`Removing ${delta} rows starting with test point #${prevNumTestPoints}.`);
                    for (tpNum = prevNumTestPoints; tpNum > numTestPoints; tpNum--) {
                        $('#test_point_list .row:last-child').remove();
                        rowsUpdated++;
                    }
                    console.log(`${rowsUpdated} rows of test points removed.`);
                }
            }

            // Creates a template for the TestPointValueForm
            function createTestPointValueForm(tpNum, inputEU, measEU) {
                // Defines all the components for the form template
                let row = $('<div>').attr({class: 'row'});
                let inputCol = $('<div>').attr({class: 'col-md-2'});
                let equalsCol = $('<div>').attr({class: 'col-auto'});
                let measCol = $('<div>').attr({class: 'col-md-2'});
                let inputValGroup = $('<div>').attr({class: 'input-group'});
                let equalsGroup = $('<div>').attr({class: 'input-group'});
                let measValGroup = $('<div>').attr({class: 'input-group'});
                let equals = $('<div>').attr({
                    class: 'input-group-text text-center',
                }).text('=');               
                    
                // Creates the input fields for the form
                let inputVal = $('<input>').attr({
                    type: 'text',
                    id: `test_point_list-${tpNum}-input_val`,
                    name: `test_point_list-${tpNum}-input_val`,
                    value: ' ',
                    class: 'form-control'
                });
                let inputValEU = $('<span>').attr({
                    class: 'input-group-text',
                    id: `input_val_eu-${tpNum}`,
                    name: `input_val_eu-${tpNum}`,
                    value: ' '
                }).text(inputEU);
                let measVal = $('<input>').attr({
                    type: 'text',
                    id: `test_point_list-${tpNum}-meas_val`,
                    name: `test_point_list-${tpNum}-meas_val`,
                    value: ' ',
                    class: 'form-control'
                });
                let measValEU = $('<span>').attr({
                    class: 'input-group-text',
                    id: `meas_val_eu-${tpNum}`,
                    name: `meas_val_eu-${tpNum}`,
                    value: ' '
                }).text(measEU);

                // Creates a csrf_token to help validate each
                let csrf = $('<input>').attr({
                    id: `test_point_list-${tpNum}-csrf_token`,
                    name: `test_point_list-${tpNum}-csrf_token`,
                    type: 'hidden',
                    value: `${csrf_token_val}`
                });

                // Creates each input group
                inputValGroup.append(inputVal, inputValEU);
                equalsGroup.append(equals);
                measValGroup.append(measVal, measValEU);

                // Creates each column
                inputCol.append(inputValGroup);
                equalsCol.append(equalsGroup);
                measCol.append(measValGroup);

                // Creates the new Test Point Row
                row.append(inputCol, equalsCol, measCol, csrf);
                return row;
            }
        });
    </script>    
{% endblock %}